.RenderPoints {
  position: absolute;
  right: 0;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: -50;

  .signLeft {
    color: #f8f9fa;
    font-size: 20px;
    position: absolute;
    top: 840px;
    left: 430px;
  }

  .signRight {
    color: #f8f9fa;
    font-size: 20px;
    position: absolute;
    bottom: 905px;
    right: 8px;
  }

  .signMiddle {
    color: #f8f9fa;
    font-size: 20px;
    position: absolute;
    bottom: 905px;
    left: 430px;
  }

  .signMiddleLeft {
    color: #f8f9fa;
    font-size: 20px;
    position: absolute;
    top: 390px;
    left: 412px;
  }

  .signMiddleRight {
    color: #f8f9fa;
    font-size: 20px;
    position: absolute;
    bottom: 905px;
    left: 1180px;
  }
}