.RenderResource {

  .OutputResource {
    position: absolute;
    width: 1450px;
    height: 820px;
    right: 20px;
    top: 20px;
    z-index: -999;
    pointer-events: none;
    border: 3px solid white;

    img {
      width: 1445px;
      height: 815px;
    }
  }

  .ReactPlayerNav {
    position: absolute;
    right: 60px;
    top: 880px;
    width: 65%;
    display: flex;


    input {
      width: 250px;
    }

    .File {
      width: 300px;


    }

    & > * {
      margin-right: 10px;
    }
  }
}